{% extends "public_html/base.html" %}

{% block contenido %}

   <div class="container modulos">
       <div class="row iguales">
           <div class="sidebar col-sm-3">
              <header>
                <h3><img src="static/img/cat_icono_planeacion_v_ngo.svg" height="35" alt="">PLANEACIÓN</h3>
              </header>
              <hr>
              <aside>
                   <ul>
                      <li>Analisis FODA</li>
                      <ul>
                        <li class="activo"><a href="#">Descripción</a></li>
                      </ul>
                      <li>Leccion 1: Preparando el Análisis FODA.</li>
                      <ul>
                        <li><a href="#">Descripción</a></li>
                        <li><a href="#">Actividad</a></li>
                      </ul>
                      <li>Leccion 2: Define lo que analizarás.</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 3: Recopila la información que necesites.</li>
                       <ul>
                           <li><a href="leccion3.html">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 4: Entendiendo el análisis FODA.</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 5: Comenzando el Análisis FODA</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 6: Realizando el análisis FODA</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 7: Comencemos por las Fortalezas</li>
                        <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 7.1: Ejemplifiquemos</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 7.2: ¡Ahora aplica!</li>
                        <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 8: Oportunidades</li>
                        <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 8.1: Regresemos a nuestro ejemplo</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 8.2:¡Ahora aplica!</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 9:Debilidades</li>
                       <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 10:Amenazas</li>
                        <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                       <li>Leccion 11:Recuerda</li>
                        <ul>
                           <li><a href="#">Descripción</a></li>
                           <li><a href="#">Actividad</a></li>
                       </ul>
                   </ul>
              </aside>
          </div><!-- termina sidebar -->
           <div class="desc-leccion col-sm-9">
                <ol class="breadcrumb">
                  <li><a href="modulo-00.html">
                      <img src="static/img/cat_icono_planeacion_v_ngo.svg" height="20" alt="">
                      Planeación
                  </a></li>
                  <li class="active">Análisis FODA</li>
                </ol>
                <h3 class="text-bold">ANÁLISIS FODA</h3>
                <p>Qué aprenderemos en este módulo:</p>
                <ul>
                    <li>Entenderás lo que es un análisis FODA.</li>
                    <li>Verás ejemplos de Análisis FODA aplicados a ejemplos hipotéticos.</li>
                    <li>Tendrás la oportunidad realizar un análisis FODA.</li>
                </ul>

                <h4 class="text-bold">Para qué nos sirve el Análisis FODA:</h4>
                <ul>
                    <li>Detectar cuáles son los puntos fuertes y las cosas que puedes mejorar de tu grupo o de tu proyecto.</li>
                    <li>Vislumbrar cuáles son los factores externos que podrían ayudar u obstaculizar a tu proyecto u organización.</li>
                    <li>Replantear los objetivos de tu proyecto o la manera de alcanzarlos a partir de los resultados de tu análisis</li>
                </ul>
                <h4 class="text-bold"> Cuándo aplicar el análisis FODA:</h4>
                <ul>
                    <li>Cuando no tengas claridad en las razones por las que tu proyecto está tomando el rumbo que está tomando.</li>
                    <li>Cuando quieras evaluar cómo se posiciona tu grupo o tu proyecto en tu contexto y lo que puedes mejorar para alcanzar tus objetivos</li>
                </ul>
               <a class="btn btn-verde col-xs-4 col-xs-offset-8 col-sm-4 col-sm-offset-8 col-md-4 col-md-offset-8 col-lg-4 col-lg-offset-8" href="modulo-01.html">SIGUIENTE</a>
            </div>
     </div><!-- termina row -->
   </div><!-- termina contenedor -->
   {% endblock %}
