body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #000000;
    font-family: "Roboto";

    /* Se mueve el contenido hacia abajo porque la barra de menú está
     * fija y ocupa 50 px */
    padding-top: 50px;
}

/*++++++++++ Estilos para inicio  +++++++++++++++*/
#defproyectate {
    padding-bottom: 25px;
}
#defproyectate img {
    height: 70px;
    margin: 35px auto 25px;
    
}

#iconografia img{
    width: 75%;
    padding: 100px 0px 100px 0px;
}



/* Estilos para el pié de página */
footer {
    width: 100%;
    padding: 15px 0px;
    background-color: #000000;
    margin-top: 15px;
    color: #fff;
}

footer p {
    text-align: center;
}


/*** Estilos de utilería generales ***/

/* Estilos adicionales a bootstrap para proyectate.mx */
.btn-verde {
    color: #fff;
    background-color: #65b32e;
    border-color: #559627;
}

.btn-verde:hover {
    color: #fff;
    background-color: #549526;
    border-color: #498221;
}
.bg-negro {
    background-color: #000;
}
.text-blanco {
    color: #fff;
}

/* Corrigiendo estilos de bootstrap */
.navbar-right {
    margin-right: 0;
}

/* Estilos de márgenes predefinidos */
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0;
}
.mr-50 {
    margin-right: 0.5em !important;
}
.mr-100 {
    margin-right: 1em !important;
}
/* Estilos de paddings predefinidos */
.pt-0 {
    padding-top: 0;
}
.pb-0 {
    padding-bottom: 0;
}

