body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #000000;
    font-family: "Roboto";

    /* Se mueve el contenido hacia abajo porque la barra de menú está
     * fija y ocupa 50 px */
    padding-top: 50px;
}

/*++++++++++ Estilos para inicio  +++++++++++++++*/
#defproyectate {
    padding: 25px 50px;
}
#defproyectate img {
    height: 70px;
    margin: 15px auto 25px;
    
}
#funcproyectate {
    padding: 25px 50px;    
    background-color: #dddedd;
    color: #000;
}
#funcproyectate h2 {
    font-weight: bold;
    margin-bottom: 20px;
}
#funcproyectate p {
    padding: 10px 50px;
}
#registrate {
    padding: 25px 100px;    
    color: #fff;
}
#iconografia {
    padding: 10px 50px;
}
#modproyectate {
    background-color: #fff;
    padding: 25px 100px;
}


/* Estilos para el pié de página */
footer {
    width: 100%;
    padding: 15px 0px;
    background-color: #000000;
    margin-top: 15px;
    color: #fff;
}

footer p {
    text-align: center;
}


/*** Estilos de utilería generales ***/

/* Estilos adicionales a bootstrap para proyectate.mx */
.btn-verde {
    color: #fff;
    background-color: #65b32e;
    border-color: #559627;
}

.btn-verde:hover {
    color: #fff;
    background-color: #549526;
    border-color: #498221;
}
.btn-negro{
    color: #fff;
    background-color: #333;
    border-color: #222;
}

.btn-negro:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-rojo{
    color: #fff;
    background-color: #e73d25;
    border-color: #d73d25;
}

.btn-rojo:hover {
    color: #fff;
    background-color: #d63d25;
    border-color: #cb3d25;
}
.bg-negro {
    background-color: #000;
}
.bg-verde {
    background-color: #65b32e;
}
.text-blanco {
    color: #fff;
}

/* Corrigiendo estilos de bootstrap */
.navbar-right {
    margin-right: 0;
}

/* Estilos de márgenes predefinidos */
.mt-0 {
    margin-top: 0 !important;
}
.mb-0 {
    margin-bottom: 0;
}
.mr-50 {
    margin-right: 0.5em !important;
}
.mr-100 {
    margin-right: 1em !important;
}
/* Estilos de paddings predefinidos */
.pt-0 {
    padding-top: 0;
}
.pb-0 {
    padding-bottom: 0;
}
/* Estilos para columnas iguales en un row */
.iguales {
    display: flex;
    flex-wrap: wrap;
}
/* Estilo para alinear verticalmente */
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

