/* Variables */
:root {
    --verde: #66B32E;
    --carousel-item-ancho: 180px;
    --carousel-item-margen: 5px;
    --carousel-num-items: 30;
}
body {
    background-color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    /* Se mueve el contenido hacia abajo porque la barra de menú está
     * fija y ocupa 50 px */
    padding-top: 50px;
}


/*++++++++++ Estilos para el pié de página +++++++++++++++*/


footer {
    width: 100%;
    padding: 15px 0px;
    background-color: #000000;
    margin-top: 15px;
    color: #fff;
    position: relative;
}
#redes-sociales {
    margin: 0px auto 20px;
    text-align: center;
}
#redes-sociales a {
    display: inline-block;
    margin: 0px 5px;
}
footer p {
    text-align: center;
}
footer a {
    color: #fff;
    text-decoration: underline;
}
footer a.btn:hover {
    color: var(--verde);
}


/*++++++++++ Estilos para bloques o secciones +++++++++++++++*/


.section {
    margin: 0px -15px;  /* Se anula el padding del container */
    padding: 20px 20px;  /* Se asigna el nuevo padding */
}
.banner {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.clear {
    clear: both;
}


/*++++++++++ Estilos para inicio  +++++++++++++++*/


#index01 {
    position: relative;
    z-index: 0;
}
#index01::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: -50px;
    background-image: url("../img/proyectate_brochazo_negro.svg");
    background-size: 190% 100%;
    background-position: center top;
    background-repeat: no-repeat;
}
#index02 {
    padding-top: 50px;
    padding-bottom: 50px;
}
#index03 {
    position: relative;
    z-index: 0;
}
#index03 .col-align {
    text-align: center;
}
#index03::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: -30px;
    bottom: 0px;
    background-image: url("../img/brochazo_verde.svg");
    background-size: 250% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
#index03::after{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    right: 0px;
    left: 0px;
    top: -30px;
    bottom: 0px;
    background-image: url("../img/brochazo_cafe-1.svg");
    background-size: 150% 100%;
    background-position: 25px bottom;
    background-repeat: no-repeat;
}


/*********** Estilos para Acerca de *************/


#acercade02 {
    position: relative;
    z-index: 0;
}
#acercade02::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: -25px;
    bottom: -25px;
    background-image: url("../img/brochazo_verde2.svg");
    background-size: 180% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
#acercade04 {
    position: relative;
    z-index: 0;
}
#acercade04::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: -1px;
    bottom: -100px;
    background-image: url("../img/brochazo_cafe-2.svg");
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}
#acercade05 {
    padding-top: 75px
}


/*++++++++++ Estilos para legal  +++++++++++++++*/


.marcadeagua {
    background-color: #fff;
    background-image: url("../img/marcadeagua_legal.svg");
    background-repeat: repeat-y;
    background-size: 70% 50%;
}
.brochazo-verde {
    margin: 40px -5px;
    padding: 0px 20px;
    padding-right: 30px;
    position: relative;
    z-index: 0;
}
.brochazo-verde::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: -40px;
    bottom: -40px;
    background-image: url("../img/privacidad_legal.svg");
    background-size: 110% 100%;
    background-position: left center;
    background-repeat: no-repeat;
}
.brochazo-rojo {
    margin: 40px -5px;
    padding: 0px 20px;
    padding-left: 60px;
    position: relative;
    z-index: 0;
}
.brochazo-rojo::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: 0px;
    right: 0px;
    top: -40px;
    bottom: -40px;
    background-image: url("../img/disclaimer_legal.svg");
    background-size: 100% 100%;
    background-position: right center;
    background-repeat: no-repeat;
}



/*++++++++++ Estilos para cateogrías +++++++++++++++*/


.categoria {
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.categoria .detalle {
    padding: 30px 0px 0px;
}
.categoria .detalle h3 {
    margin-bottom: 0px;
}
.categoria .detalle h4 {
    margin-top: 0px;
}
.categoria .detalle img {
    width: 70px;
}
.MultiCarousel {
    padding: 15px;
    margin-bottom: 10px;
}
.MultiCarousel-Container {
    position: relative;
}
.Left {
    position:absolute;
    top:calc(50% - 15px);
    left: -15px;
}
.Right {
    position:absolute;
    top:calc(50% - 15px);
    right: -15px;
}
.Carousel-viewer {
    margin: 0px 15px;
    overflow: hidden;
}
.Carousel-slider {
    --item-ancho: calc(var(--carousel-item-ancho) * var(--carousel-num-items));
    --item-margen: calc(var(--carousel-item-margen) * 2 * var(--carousel-num-items));
    width: calc(var(--item-ancho) + var(--item-margen));
    transition: transform 1s;
    transform: translateX(0px);
}
.Carousel-slider::after {
    content: "";
    clear: both;
    display: block;
}
.Carousel-item {
    float: left;
    margin: 0px var(--carousel-item-margen);
}
.categoria .modulo {
    border: 2px solid var(--verde);
    border-radius: 10px;
    padding: 5px;
    width: var(--carousel-item-ancho);
}
.categoria .modulo img {
    width: 25%;
    margin: 5px;
}
.categoria .modulo p {
    margin: 0px;
}
.categoria .modulo.terminado p, .categoria .modulo.terminado h3 {
    color: var(--verde);
}
.categoria .barra {
    margin: 0px 0px;
    width: var(--carousel-item-ancho);
}
.categoria .barra .progress {
    height: 5px;
    margin: 10px 0px 2px;
}
.categoria .barra .progress-bar-green {
    background-color: var(--verde);
}
.MultiCarousel-indicators {
    padding: 3px 0px 0px;
}
.MultiCarousel-indicators ol {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}
.MultiCarousel-indicators ol::after {
    content: "";
    clear: both;
    display: block;
}
.MultiCarousel-indicators ol li {
    float: left;
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    margin: 5px;
    border-radius: 50%;
}
.MultiCarousel-indicators ol li.active {
    background-color: #fff;
}
#categoria01 {
    background-image: url("../img/bg_planeacion-movil.jpg");
    background-size: auto 100%;
    background-position: 40% center;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px 0px;
}
#categoria02 {
    background-image: url("../img/bg_imple-movil.jpg");
    background-size: auto 100%;
    background-position: 70% center;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px 0px;
}
#categoria03 {
    background-image: url("../img/bg_segui-movil.jpg");
    background-size: auto 100%;
    background-position: 40% center;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px 0px;
}
#categoria04 {
    background-image: url("../img/bg_evaluacion-movil.jpg");
    background-size: auto 100%;
    background-position: 60% center;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px 0px;
}
#categoria05 {
    background-image: url("../img/bg_comunicacion-movil.jpg");
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    margin: 20px 0px;
}


/********** Estilos para Login *************/
.login {
    background-color: #e9e9e9;
}
.fondo-gris-form {
    background-color: #fff;
    padding: 0px 35px 35px 35px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.login-titulo, .login-titulo-dos {
    position: relative;
    height: auto;
    z-index: 0;
    text-align: center;
    margin-top: 0px;
    padding-bottom: -100px;
    padding-bottom: 80px;
    color: #fff;
}

.login-titulo::after, .login-titulo-dos::after{
    content: "";
    display: block;
    position: absolute;
    left: -60px;
    right: -60px;
    top:-100px;
    bottom: 0px;
    background-image: url("../img/brochazo_verde-login.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1
}
.login-titulo-dos::after{
    background-image: url("../img/brochazo_roja_login.svg");
    }
#msjPassError1, #msjPassError2 {
    display: none;
}
/********** Estilos para módulos *************/

/*
Color de fondo para el sidebar: #f5f5f5
Color de fondo para el encabezado del sidebar: #f5f5f5
Color fondo lista de lecciones: #fbfbfb
Color lección activa: color: #fbfbfb, bg: #f5f5f5
Color de fondo para la descripción: #eeeeee
*/

.sidebar {
    background-color: #f5f5f5;
    vertical-align: middle;
}
.sidebar header, .sidebar aside {
    margin: 0px -15px;
    padding: 1px 15px;
    background-color: #f5f5f5;
}
.sidebar hr {
    margin: 0px -15px;
    color: #66b32e;
    border-top: 4px solid;
    width: 90%;
}
.sidebar aside {
    background-color: #fbfbfb;
    padding: 15px;
}
.sidebar header img {
    margin: 10px;
}
.sidebar header h3 {
    text-align: center;
}
.sidebar aside > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.sidebar aside ul ul {
    list-style: none;
    margin: 0px 0px 10px 10px;
    padding: 0px;
}
.sidebar aside ul ul li.activo {
    background-color: #337ab7;
    position: relative;
}
.sidebar aside ul ul li.activo a {
    color: #fbfbfb;
}
.sidebar aside ul ul li.activo a:hover {
    text-decoration: none;
}
.sidebar aside ul ul li.activo a::after {
    content: ">";
    position: absolute;
    right: 10px;
    font-weight: bold;
    
}
.relacion {
    background-color: #eeeeee;
    padding-top: 30px;
    padding-bottom: 30px;
    padding: 30px 30px;
}
.relacion p {
    text-align: justify;
}


/**********************************************************************
 Estilos adicionales a bootstrap para proyectate.mx
**********************************************************************/


/*** Botones ***/
.btn-verde {
    color: #fff;
    background-color: #65b32e;
    border-color: #559627;
}
.btn-verde:hover {
    color: #fff;
    background-color: #549526;
    border-color: #498221;
}
.btn-negro{
    color: #fff;
    background-color: #333;
    border-color: #222;
}
.btn-negro:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.btn-rojo{
    color: #fff;
    background-color: #e73d26;
    border-color: #d73d25;
}

.btn-rojo:hover {
    color: #fff;
    background-color: #d63d25;
    border-color: #cb3d25;
}
/*** Colores de fondo ***/
.bg-white {
    background-color: #fff;
}
.bg-white-75 {
    background-color: rgba(255, 255, 255, 0.75);
}
.bg-black {
    background-color: #000;
}
.bg-black-75 {
    background-color: rgba(0, 0, 0, 0.75);
}
.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.50);
}
.bg-green {
    background-color: var(--verde);
}
.bg-red {
    background-color: #e73d25;
}
.bg-gray {
    background-color: #eaeaea;
}
/*** Colores de texto ***/
.text-white {
    color: #fff;
}
.text-green {
    color: var(--verde);
}
/*** Estilos de texto ***/
.text-bold {
    font-weight: bold;
}
/*** Color de fondo en las opciones del menú ***/
.navbar-inverse .navbar-nav > .active > a {
    background-color: var(--verde);
}
/*** Estilos de márgenes predefinidos ***/
.mt-0 {
    margin-top: 0 !important;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10px {
    margin-top: 10px;
}
.mt-20px {
    margin-top: 20px;
}
.mt-60px {
    margin-top: 60px;
}
.mb-0 {
    margin-bottom: 0;
}
.mr-50 {
    margin-right: 0.5em !important;
}
.mr-100 {
    margin-right: 1em !important;
}
.row-img-m {
    margin-top: 15px;
    margin-bottom: 15px;
}
.col-mb {
    margin-bottom: 20px;
}
.btn-mv {
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-mt {
    margin-top: 20px;
}
/*** Estilos de paddings predefinidos ***/
.ph-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.p-25 {
    padding: 25px
}
.pt-0 {
    padding-top: 0;
}
.pb-0 {
    padding-bottom: 0;
}
/*** Estilos para bottom predefinidos ***/
.b-0 {
    bottom: 0px;
}
/*** Estilos para columnas iguales en un row ***/
.iguales {
    display: flex;
    flex-wrap: wrap;
}
/*** Estilo para alinear verticalmente ***/
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos añadidoa para login?*/
/*** Estilos para bloques o secciones ***/
.section {
    margin: 0px -15px;  /* Se anula el padding del container */
    padding: 20px 20px;  /* Se asigna el nuevo padding */
}
.banner {
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/**************************************
  Estilos para componentes
**************************************/

/**************************************
  Corrigiendo estilos de bootstrap
**************************************/
.section h1, .section h2, .section h3, .section p {
    display: inline-block;
}

@media (max-width: 900px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        overflow: hidden !important;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .navbar-collapse *[class*='navbar-'] {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
/*******************************************************************
        login
***********************************************************/
.login {
    background-color: #dddedd;
    padding: 30px 30px 0px;
}
.fondo-gris-form {
    background-color: #fff;
    padding: 0px 35px 35px 35px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.login-titulo, .login-titulo-dos {
    position: relative;
    height: auto;
    z-index: 0;
    text-align: center;
    margin-top: 0px;
    padding-bottom: -100px;
    padding-bottom: 80px;
    color: #fff;
}

.login-titulo::after, .login-titulo-dos::after{
    content: "";
    display: block;
    position: absolute;
    left: -60px;
    right: -60px;
    top:-100px;
    bottom: 0px;
    background-image: url("../img/brochazo_verde-login.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1
}
.login-titulo-dos::after{
    background-image: url("../img/brochazo_roja_login.svg");
    }

input:invalid {
    border-color: red;
}
input,
input:valid {
    border-color: #ccc;
}
.login .link {
    background-color: transparent;
    border: none;
    color: #337ab7;
}
.login .link:hover {
    text-decoration: underline;
}
/**********Perfil*************/
.fondo-gris-form {
    background-color: #fff;
    padding: 0px 35px 35px 35px;
    border-radius: 20px;
    margin-top: 100px;
    margin-bottom: 70px;
}

.login-titulo-perfil {
    position: relative;
    height: auto;
    z-index: 0;
    text-align: center;
    margin-top: 0px;
    padding-bottom: -100px;
    padding-bottom: 80px;
    color: #fff;

}

.login-titulo-perfil::after{
    content: "";
    display: block;
    position: absolute;
    left: -60px;
    right: -60px;
    top:-120px;
    bottom: 0px;
    background-image: url("../img/AJUSTESPERFIL_head.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.input-nombre {
    width: auto;
    font-size: calc(1em + 1vw);
    border: 0px;
}

.linea-verde {
    width: 100%;
    height: auto;


}
.tarjeta {
  width: 220px;
  height: 190px;
  margin: 10px auto;

}
.avatar {
  overflow: hidden;
  border-radius: 50%;
  background-color: #eee;
  width: 100%;
  height: 100%;
  position: relative;
}
.tarjeta img {
  height: 100%;
}

.mascara {
  position: absolute;
  left:0px;
  right: 0px;
  bottom: 0px;
  top: 75%;
  background-color: rgba(0, 180, 0, 0.45);
  color: white;
  font-size: 35px;
  text-align: center;

}
/**********Termina Perfil*************/

/**********Estilos de sidebar actividades *************/

.sidebar aside ul ul li.activo {
    background-color: #66b32e;
    position: relative;
}

.sidebar aside ul ul li a {
    color: #66b32e;
}

.desc-leccion p {
    text-align: justify;
}
.navegacion {
    margin-bottom: 5px;
}

.btn-izquierda {
    float: left;
    margin-top: 20px;
     margin-bottom: 20px;
   
 }
.btn-derecha {
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}


/**********Termina estilos sidebar actividades*************/

/**********- Estilos de actividad de texto *************/

.act-texa {
    color: #66b32e;
}

.row-concepto {
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.atexto {
  background-color: #fff;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0px 0px 5px #ccc;
  margin-bottom: 30px;
    
}
.bverde {
  border-color: #4b9418;
  box-shadow: 0px 0px 5px #4b9418;
}
.brojo {
  border-color: #e37474;
  box-shadow: 0px 0px 5px #e37474;
}
.atexto textarea {
    margin-bottom: 5px;
}
.brojo textarea {
    color: #e37474;
}

input[type="text"] {
  height: 20pt;
  width: 100%;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 14px;
  margin-top: 5pt;
    
}
.options {
  width: 100%;
  height: 30pt;
  margin-top: 5pt;
  border-top: 1px solid #ddd;
background-color: #fff;
}
.seperator {
  display: inline;
  border-left: 1px solid #ddd;
  height: 20px;
    }
button {
  margin: 0;
  padding: 0;
  height: 30pt;
  width: 30pt;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  color: #000;
}
button:active {
  color: #333;
}
select {
  height: 30pt;
  -webkit-appearance: none;
  border: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  outline: none;
}
input[type="number"] {
  height: 30pt;
  border: 0;
  padding: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  outline: none;
    }

/**********Termina Actividad texto *************/

/*******************************************************************************
Actividad de opcion
*******************************************************************************/

.custom-radio1, .custom-radio2, .custom-radio3 {
    background-color: #e2e2e2;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px; 
    font-weight: bold;
}

.custom-radio2 {
    background-color: #b8e3a6;
}

.custom-radio3 {
    background-color: #e37474;
}

.msn-correcto {
    color: #4b9418;
    padding: 5px;
    margin-left: 15px;
}

.msn-incorrecto {
    color: #e37474;
    padding: 5px;
    margin-left: 15px;
}

/**********Termina Actividad de opcion *************/


/*******************************************************************************
Actividad de relación
*******************************************************************************/

.concept {
    margin-bottom: 20px;
}

.desc-trj {
    margin-bottom: 35px;
}

.card-concepto h4 {
    padding: 62px 20px;
    font-weight: bolder;
    
}
.card-concepto{
    background-color: #fafafa;
    height: auto;
    margin-top: 25px;
    margin-bottom: 45px;
    padding: 10px 10px; 
    border-radius: 15px;
    box-shadow: 0px 0px 10px #8b8b8b;
}

.card-definicion {
    background-color: #fafafa;
    height: auto;
    margin-top: 25px;
    padding: 20px 20px; 
    border-radius: 15px;
    box-shadow: 0px 0px 10px #8b8b8b;
}

.c-true {
    border:#b8e3a6 5px solid; 
    border-radius: 15px;
    color: #4b9418;
    background-color: #fafafa;
}

.c-false {
    border:#e37474 5px solid; 
    border-radius: 15px;
    color: #941824;
    background-color: #ffffff;
    
}

.c-bloq {
    border:#616161 5px solid; 
    border-radius: 15px;
    color: #313131;
    background-color: white;
    
}








/**********Termina Actividad relacion *************/




/*******************************************************************************
  Ajustes responsivo
*******************************************************************************/
@media (min-width: 768px) {
    /*** Estilos para bloques o secciones ***/
    .section {
        padding: 40px 50px;  /* Se asigna el nuevo padding */
    }
    #index01::before {
        background-size: 150% 100%;
    }
    #index02 {
        padding-top: 75px;
    }
    #index03::before {
        background-size: 200% 100%;
    }
    #index03::after {
        background-size: 80% 100%;
        background-position: right bottom;
    }
    #index03 .col-align {
        text-align: right;
    }
    #acercade02::after {
        background-size: 140% 100%;
    }
    #acercade04::after {
        bottom: -100px;
        background-position: left -50px;
        background-size: 70% 112%;
    }
    #acercade05 {
        padding-top: 75px
    }
    .brochazo-verde {
        margin: 50px -35px;
        padding: 0px 50px;
    }
    .brochazo-verde::after {
        background-size: 100% 100%;
    }
    .brochazo-rojo {
        float: right;
        margin: 40px 0px;
        padding: 0px 15px;
    }
    .brochazo-rojo::after {
        right: -35px;
    }
    /*Ajustes para login*/
    .login {
        padding: 30px 50px 0px;
    }
    /*** Estilos relacionados con cateogrías ***/
    .categoria .detalle .logo {
        text-align: right;
    }
    .categoria .detalle .descripcion {
        text-align: left;
    }
}

@media (min-width: 992px) {
    #redes-sociales {
        position: absolute;
        right: 50px;
    }
    #index01::before {
        background-size: 120% 100%;
    }
    #index02 aside {
        padding: 0px 60px;
    }
    #index03::before {
        background-size: 150% 100%;
    }
    #index03::after {
        background-size: 50% 100%;
        background-position: right bottom;
    }
    #index03 .col-align {
        text-align: center;
        padding-top: 35px;
    }
    .md-mb {
        margin-bottom: 20px;
    }
    .btn-mv {
        margin-top: 35px;
        margin-bottom: 35px;
    }
    .brochazo-verde {
        margin: 0px 0px;
        padding: 15px;
    }
    .brochazo-verde::after {
        left: -35px;
        background-size: 107% 100%;
    }
    .brochazo-rojo {
        padding-left: 60px;
    }
    footer nav {
        padding: 0px 200px;
    }
    /*Ajustes para login*/
    .login {
        padding: 30px 100px 0px;
    }
    /*** Estilos relacionados con cateogrías ***/
    #categoria01 {
        background-image: url("../img/bg_planeacion.jpg");
        background-size: cover;
    }
    #categoria01::before {
        background-color: rgba(0,0,0,0);
    }
    #categoria02 {
        background-image: url("../img/bg_imple.jpg");
        background-size: cover;
    }
    #categoria02::before {
        background-color: rgba(0,0,0,0);
    }
    #categoria03 {
        background-image: url("../img/bg_segui.jpg");
        background-size: cover;
    }
    #categoria03::before {
        background-color: rgba(0,0,0,0);
    }
    #categoria04 {
        background-image: url("../img/bg_evaluacion.jpg");
        background-size: cover;
    }
    #categoria04::before {
        background-color: rgba(0,0,0,0);
    }
    #categoria05 {
        background-image: url("../img/bg_comunicacion.jpg");
        background-size: cover;
    }
    #categoria05::before {
        background-color: rgba(0,0,0,0);
    }
}

@media (min-width: 1200px) {
    /*** Estilos para bloques o secciones ***/
    .section {
        padding: 40px 100px;  /* Se asigna el nuevo padding */
    }
    #index01 {
        padding-top: 50px;
    }
    #index01::before {
        background-size: 100% 100%;
    }
    #index02 {
        padding-top: 80px;
    }
    #index02 aside {
        padding: 20px 90px;
    }
    #index03 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #index03::before {
        background-size: 100% 100%;
    }
    #acercade01 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #acercade02::after {
        background-size: 100% 100%;
    }
    #acercade03 {
        padding-top: 75px;
        padding-bottom: 50px;
    }
    #acercade05 {
        padding-top: 100px
    }
    .brochazo-verde::after {
        left: -85px;
    }
    .brochazo-rojo {
        padding-left: 60px;
    }
    .brochazo-rojo::after {
        right: -85px;
    }
}

@media (min-width: 1400px) {
    /*** Estilos para bloques o secciones ***/
    .section {
        padding: 70px 10%;  /* Se asigna el nuevo padding */
    }
    #index03 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    #acercade01 {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .brochazo-verde {
        padding: 30px;
    }
    .brochazo-verde::after {
        left: -32%;
    }
    .brochazo-rojo {
        padding: 30px;
        padding-left: 70px;
    }
    .brochazo-rojo::after {
        right: -31.9%;
    }
}

@media (min-width: 1600px) {
    /*** Estilos para bloques o secciones ***/
    .section {
        padding: 80px 15%;  /* Se asigna el nuevo padding */
    }
    #index01 {
        padding-top: 70px;
    }
    #index02 {
        padding-top: 100px;
    }
    #index02 aside {
        padding: 40px 150px;
    }
    #index03 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .banner img {
        width: 100%;
    }
    #acercade01 {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    #acercade03 {
        padding-top: 85px;
        padding-bottom: 60px;
    }
    #acercade05 {
        padding-top: 120px
    }
    .brochazo-verde {
        padding: 50px;
        padding-left: 0px;
        padding-right: 100px;
    }
    .brochazo-verde::after {
        left: -57%;
    }
    .brochazo-rojo {
        padding: 50px;
        padding-left: 90px;
        padding-right: 0px;
    }
    .brochazo-rojo::after {
        right: -57%;
    }
    footer nav {
        padding: 0px 500px;
    }
}
